@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/CSS/bootstrap.min.css"
          rel="stylesheet" />
    <script src="~/Content/JavaScript/bootstrap.bundle.min.js"></script>
    <title>Thông tin liên hệ</title>
    <style>
        body {
            margin-top: 0px;
        }

        .contact {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>

</head>
<body>
    <div class="container contact">
        <p>Page thông tin liên hệ</p>
    </div>
    
</body>
</html>


